* {
  text-align: center;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-link{
text-decoration: none;
color:#fff;
}

img{
  height: 300px;
}